@{
    ViewData["Title"] = "Home Page";
}



<div>
    <h1 class="titulo" style="text-align: center;"> A Prover Style </h1>


    <div class="estilo-txt">
        <p class="fs-3">

            <br>Acreditamos no   brasileiro, não como cópia do europeu
            ou americano. Ele tem sua identidade e interesses próprios; A
            creditamos em uma conversa franca e sincera com nossos leitores;
            O conteúdo não deve ser só algo para ser consumido, mas deve trazer
            uma reflexão para o leitor; A gente acredita no diálogo e que o público
            deve participar da conversa, seja via redes sociais, comentários no
            site ou e-mails; Não disseminamos nenhuma forma de preconceito seja
            ele de gênero, raça,
            credo ou opção sexual.
        </p>

    </div>
</div>
