@model Prover_Web.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <h4>Novo Cadastro Cliente</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control mt-3" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                   <input asp-for="Cpf" id="Cpf" data-mask="00/00/0000"   class="form-control mt-3" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" id="Telefone"  data-mask="(00) 0000-0000" class="form-control mt-3" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control mt-3" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Categoria" class="control-label"></label>
                    <select asp-for="Categoria" class="form-control mt-3">
                        <option value="Casual">Casual</option>
                        <option value="Classico">Classico</option>
                        <option value="Esportivo">Esportivo</option>
                    </select>
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Rendimento" class="control-label"></label>
                    <input asp-for="Rendimento" id="Rendimento" class="form-control mt-3" />
                <span asp-validation-for="Rendimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-dark mt-3" />
            </div>
        </form>
    </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script> 

<script>


$(document).ready(function ($) {
    $('#Cpf').mask('000.000.000-00');
    $('#Telefone').mask('(00) 00000-0000');
    $('#Rendimento').mask('000.000.000.000.000,00', {reverse: true});
});

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
