@model IEnumerable<Prover_Web.Models.Cliente>

@{
	ViewData["Title"] = "Index";
}

	<div class="Container_menu">

		<div class="TituloAdm">
			<h1>Menu de cliente</h1>
			<h2 class="navbar-brand link-primary"> Bem Vindo @User.Identity?.Name</h2 >
				<div class="nav flex-column"> 
				 <a class="btn btn-dark  fs-5" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Configuraçoes</a>
				 <br>
				 <a class="btn btn-dark fs-5" asp-controller="Clientes" asp-action="Create">Cadastrar</a>
				<br>
				 <a class="btn btn-dark  fs-5"  asp-controller="Relatorios" asp-action="PesquisarPorMath">Verifique seu Math</a>
			     <br>
				 <a class="btn btn-dark  fs-5"  asp-controller="Clientes" asp-action="EditarPorNome">Editar</a>

			</div>
	</div>
