@model IEnumerable<Prover_Web.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<div class="Container_menu">


     <div class="TituloAdm">
    <h1>Menu de cliente</h1>
    <h3 style class="navbar-brand link-primary">Bem Vindo @User.Identity?.Name</h3>
</div>
