@model IEnumerable<Prover_Web.Models.ClienteVendedor>



    <div>

        <h3 style="align-items:center">Encontramos o Personal Perfeito para voce!!</h3>

<form asp-controller="Relatorios" asp-action="PesquisarPorNome">

    <input type="text" name="nome" placeholder="Digite seu nome aqui">
    <input type="submit" value="Pesquisar">
</form>



    </div>



