


<div class="container01" >
    <h3 class="modal-title"> Vale mais uma pessoa estilosa do que uma pessoa na moda.  </h3>



    <div class="Estilos">

        <div class="card" style="width: 18rem;">
            <img src="img/casual.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Casual</h5>
                <p class="card-text">
                    A calça jeans é a peça mais requisitada entre as mulheres. Uma vez que, ela funciona em
                    diferentes ocasiões, como o trabalho a um happy hour.
                </p>

            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="img/estilo-esportivo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Esportivo</h5>
                <p class="card-text">
                    Dentre os estilos existentes, é o mais despojado e casual de todos. As palavras-chave dos
                    looks são praticidade e conforto. .
                </p>

            </div>
        </div>


        <div class="card" style="width: 18rem;">
            <img src="img/calssico.jpg" " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Conservador</h5>
                <p class="card-text">Como o próprio nome já diz, o estilo clássico é
                    aquele que valoriza visuais tradicionais, que são aclamados pela
                    moda. Pensando dessa forma, quem segue o estilo não se prende muito 
                    ao que é novidade </p>

            </div>
        </div>


    </div>



</div>

