@model IEnumerable<Prover_Web.Models.ClienteVendedor>

<h1 style="align-items:center">Lista de Clientes e Vendedores</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr class="fs-4">
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cliente.Nome</td>
                <td>@item.Vendedor.Nome</td>
                <td>@item.Vendedor.Categoria</td>
            </tr>
        }
    </tbody>
</table>
