@model IEnumerable<Prover_Web.Models.ClienteVendedor>

<h3 style="align-items:center">Personal Styles que combinam com voce</h3>

<form asp-controller="Relatorios" asp-action="PesquisarPorMath">
    <input type="text" name="nome" placeholder="Digite seu nome ">
    <input class="btn btn-dark" type="submit" value="Pesquisar">
</form>
<br>
<table class="table table-dark table-striped">
    <thead>
        <tr class="fs-5">
            <th>Vendedor</th>
            <th>Esperiencia</th>
            <th>Perfil</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                    <tr>
                           
                        <td>@item.Vendedor.Nome</td>
                        <td>@item.Vendedor.Descricao</td>
                         <td>Perfil<a class="btn btn-success" href="@Url.Action("Details", "Vendedors", new {id = item.Vendedor.Id})"></a></td>
                             <td><button class="text-success"  id="notific" onclick="modall()">Notificar vendedor</button></td>
                    </tr>
        }
    </tbody>
    
</table>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 class="font-modal-titulo" >Personal Style Notificado</h2>
    <p class="font-modal">Ele recebera sua notificaçao e entrara em contato parabens!!!</p>
  </div>

</div>


