@{
    ViewData["Title"] = "Home Page";
}




<div class="Container01">
    <div class="Estilos">

        <div class="card" style="width: 30rem;">
            <img src="img/classico.jpg" " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">O que é Estilo Clássico?</h5>
                <p>
                    A moda é uma das melhores formas
                    de expressão. Afinal, através das roupas é possível transmitir para as
                    outras pessoas o que está dentro de você. Por esse motivo, existem vários
                    estilos que podem te inspirar. Não necessariamente é preciso seguir tudo à
                    risca. Mas é bacana ver referências, até mesmo para que você conheça as
                    inúmeras possibilidades que existem e descubra do que realmente gosta.
                    Pensado nisso, hoje vamos apresentar o estilo clássico, te mostrar algumas
                    das celebridades que são adeptas e como você pode começar a apostar nele.
                    Navegação [Exibir]
                </p>

            </div>
            <div class="card" style="width: 30rem;">
                <img src="img/Casual01.jpg" " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">O que é e como aderir o estilo casual?</h5>
                    <p>
                        Se você acha que conforto e praticidade são critérios importantes a considerar na
                        hora de comprar roupa, provavelmente seu estilo é mais casual do que você pensa!
                        Prezando por versatilidade, o estilo casual utiliza peças descontraídas e joviais
                        para mostrar ao mundo a personalidade de quem as está vestindo.
                    </p>
                </div>


                <div class="card" style="width: 30rem;">
                    <img src="img/esportivo01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">O que é o estilo esportivo?</h5>
                        <p>
                            Como vimos, o estilo esportivo, também conhecido como natural ou básico, é um dos
                            7 estilos universais da moda, sendo sua principal característica a preferência e a
                            predominância de peças confortáveis e práticas. Por isso, roupas apertadas,
                            saltos altos e peças coloridas demais estão fora de cogitação.
                        </p>

                    </div>
                </div>
            </div>
