@{
    ViewData["Title"] = "Home Page";
}


<div class="card">
       <h3 style="text-align:center;">Planos por consultoria e mensais</h3>
    <p class="fs-4">

        Por hora trabalhada – de R$ 120,00 a R$ 150,00, <br />
        Por consultoria presencial completa de 15 horas<br /> 
        normalmente são 5 encontros presenciais de 3 horas cada,<br/>   
        Valor:  de R$ 1.500,00 a R$ 2.500,00 pela consultoria completa,<br />
        Por consultoria online completa – você efetua o mesmo serviço acima descrito
        e 
        cobra os 
        mesmos valores, mas atende seus clientes em todo o Brasil via Skype. 
        Valor:  de R$ 1.500,00 a R$ 2.500,00 pela consultoria completa.<br/>
        Por contrato de manutenção mensal – você poderá fazer um contrato mínimo de 3 meses,<br />
        prevendo visitas semanais ou quinzenais para montar looks pontuais para seu cliente ou renovar 
        o guarda-roupas dele. E dar um desconto pelas horas trabalhadas.<br />
        No caso de contrato de 4 horas mensais (2 horas a cada 15 dias por exemplo), 
        você pode cobrar da seguinte forma:  R$ 120,00 x 4 = R$ 480,00. Dá um desconto<br> 
        e cobra R$ 400,00 pelo pacote. OU R$ 150,00 x 4 horas = R$ 600,00. Dá um desconto e 
        cobra R$ 500,00 pelo pacote.<br/>
        Já no caso do contrato de 8 horas mensais (2 horas a cada semana por exemplo), você 
        pode cobrar da seguinte forma: R$ 120,00 x 8 = R$ 960,00. Dá um desconto e cobra 
        R$ 800,00 pelo pacote. OU R$ 150,00 x 8 horas = R$ 1200,00. Dá um desconto e 
        cobra R$ 1.000,00 pelo pacote
        Palestras de 2 horas para Empresas – nessas palestras você poderá falar sobre 
        código do vestir corporativo e dicas de etiqueta profissional, além de palestras 
        comemorativas do Dia Internacional da Mulher ou Dia da Secretária, por exemplo.  
        Valor: R$ 3.000,00
        Treinamento para Vendedores e Lojistas – você vai ensinar como montar looks de 
        acordo com o tipo de corpo e estilo pessoal dos clientes, como multiplicar looks e 
        como otimizar estoques de forma assertiva de acordo com o perfil dos clientes e 
        como vender mais. Valor: R$ 
        3.000,00 por 1 treinamento de 4 horas ou R$ 4.000,00 por 2 treinamentos de 4 horas 
        cada (para atender os turnos da empresa).
    </p>



</div>