html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.container01{

    gap: 30px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;

}

.estilo-txt {
    display:flex;
    justify-items:center;
    text-align:center;
}

.Estilos{
    gap:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
}




.formulario {
 
    box-shadow: 10px 5px 5px 3px black;
    height: 500px;
    width: 600px;
    font-size: 22px;
    background-color:dimgrey;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.titulo01 {
    font-weight: bold;
}


.titulo {
    font-weight: bold;
}


.formulario-list {
    box-shadow: 10px 5px 5px black;
    height: 700px;
    width: 600px;
    font-size: 20px;
    background-color: darkorchid;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.navbar-brand:hover {
    color:chartreuse;
}
.link_txt{

    font-size: 12px;
}

container-fluid {
    box-shadow: 10px 5px 5px black;
}

/*
body {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.45787821964723385) 0%, rgba(0,0,0,0.5251051104035365) 35%), url("https://images.pexels.com/photos/10854148/pexels-photo-10854148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/


.whapp {
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 30px;
    left: 30px;
}
body
{
  background-color:thistle;
}