<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"] - Prover_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Prover_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>


        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Prover Style</a>
            <a asp-area="" asp-controller="Home" class="navbar-brand" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="QuemSomos" class="navbar-brand" asp-action="Index">Quem Somos</a>
            <a asp-area="" asp-controller="Estilos" class="navbar-brand" asp-action="Index">Estilos</a>

            <div class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Registrar
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" asp-controller="Clientes" asp-action="Create">Sou Cliente</a></li>
                    <li><a class="dropdown-item" asp-controller="Vendedors" asp-action="Create">Sou Vendedor</a></li>
                    <li><a class="dropdown-item" asp-controller="Adms" asp-action="Create">Area de Administraçao</a></li>
                </ul>
            </div>
            <a asp-area="" asp-controller="Login" class="navbar-brand" asp-action="Index">Login</a>
        </nav>

    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
