@{
    ViewData["Title"] = "Quem somos";
}


<div class="container">

    <p class="text-monospace">
  Todas nós temos uma essência que nos define. Acreditar nessa essência é o que nós faz melhor, mais seguras com a nossa imagem, felizes e por consequência, bonitas! 

A plataforma My Personal Stylist, nasceu do desejo de ajudar as mulheres a se conhecerem melhor. Do desejo de levar o serviço da Consultoria de Imagem e Estilo para todas, de forma democrática e acessível! Acreditamos em compras mais conscientes e acertadas, em uma imagem como reforço da nossa personalidade e em uma beleza que é única e especial: a sua. Afinal, seu estilo é você!

Somos o primeiro site de consultoria de imagem e estilo com compras online do Brasil! Em um mesmo ambiente, você irá conhecer melhor o que tem a sua cara, entender o que lhe cai bem, aprender a combinar roupas e receber indicações de peças para compras personalizadas.

O que está esperando? Faça o nosso Teste de Estilo agora mesmo e encontre conteúdos e peças selecionados especialmente pra você!</p>


</dvi>

